
<div class="ui inverted borderless small menu">
  <div class="ui container">
    <div class="item">
      <i class="adjust icon"></i>
      <i class="adjust icon"></i>
      <i class="adjust icon"></i>
      <i class="adjust icon"></i>
      </div>
    <div class="item">
      <%= link_to 'Chatroom', root_path %>
    </div>
    <div class="item">
      Messages
    </div>
    <div class="item">
      Friends
    </div>
    <div class="right menu">
      <div class="item">
        <div class="ui icon input">
          <input type="text" placeholder="Search...">
          <i class="search link icon"></i>
        </div>
      </div>
<!-- dropdown menu -->
      <div class="item ui dropdown">
        <div class="text">Account</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <% if logged_in? %>
          <%= link_to "Log out", logout_path, method: :delete, class: "item" %>
          <% else %>
          <%= link_to "Log in", login_path, class: "item" %>
          <a class="item">Sign up</a>
          <% end %>
        </div>
      </div>
    <!-- dropdown menu end of -->
      </div>
      <% if !logged_in? %>
        <div class="item">
          <%= link_to "Log in", login_path, class: "ui primary button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
